<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/styles/landing.css">

<% include ../partials/navbar %>
<% include ../partials/alert %>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<div class="container">
	<form class="col-md-6 offset-md-3" id="myForm" action="/user/<%= user._id %>?_method=PUT" method="POST">
		<legend>Edit your account details</legend>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="fname">First Name</label>
				<input class="form-control" type="text" name="user[firstname]" placeholder="John" value="<%= user.firstname %>" autofocus>
				<small class="form-text text-muted">
					This gets displayed on content.
				</small>
			</div>
			<div class="form-group col-md-6">
				<label for="lname">Last Name</label>
				<input class="form-control" type="text" name="user[lastname]" placeholder="Smith" value="<%= user.lastname %>">
				<small class="form-text text-muted">
					Initials or surname.
				</small>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="username">USN or Username</label>
				<input class="form-control" type="text" name="user[username]" value="<%= user.username %>">
				<small class="form-text text-muted">
					Make sure you remember it.
				</small>
			</div>
			<div class="form-group col-md-8">
				<label for="email">E-mail</label>
				<input class="form-control" type="email" name="user[email]" placeholder="someone@example.com" value="<%= user.email %>">
				<small class="form-text text-muted">
					We'll never share your email with anyone else.
				</small>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="branch">Branch</label>
				<select class="form-control" name="user[branch]" form="myForm">
					<option><%= user.branch %></option>
					<option value="CSE">CSE</option>
					<option value="ISE">ISE</option>
					<option value="ECE">ECE</option>
					<option value="MECH">MECH</option>
					<option value="CIVIL">CIVIL</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="college">College</label>
				<input class="form-control" type="text" name="user[college]" value="<%= user.college %>">
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Submit</button>
			<a class="float-right" href="/forgot">Reset password</a>
		</div>
	</form>
</div>

<% include ../partials/footer %>