<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/alert %>

<div class="container text-center">
	<div class="col-md-10 offset-md-1">
		<img class="rounded mx-auto d-block" src="<%= user.avatar %>" height="247" width="247">
		<h3><%= user.firstname %> <%=user.lastname %></h3>
		<h4><%= user.username %></h4>
		<h4><%= user.email %></h4>
	</div>
</div>

<% include ../partials/footer %>